body{
    background-color: #9440cc;
    /* margin: 0px; */
    color: #e8e2e2;
    text-align: left;
    overflow-x: hidden;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
    background-color: #f0f0f0;
    color: black;
}
section{
    margin-left: 350px;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #9440cc;
}

/*--------------------- lateral -----------------*/
#foto_personal{
    width: 250px;
    height: 210px;
    border-radius: 5%;
    margin: 0 auto; 
}

.letra_titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0px;
}
.letra_cuerpo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0px;
}
.titulo_extra{
    text-align: center;
    margin: 0px;
}

#menu{
    background-color: #a489d5;
    width: 350px;
    height: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    flex-direction: column;
    border-radius: 25px;
}
#menu h2{
    
    font-size: 30px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
#menu h2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#menu h2:active{
    transform: scale(0.9);
    transition: 0.5s;
}
#menu h3{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 0px 0px 2px 0px;
    border-radius: 25px;
    background: linear-gradient(to right, #667eea, #764ba2);
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    display: block;
}

/*--------------------- presentacion -----------------*/

#presentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#presentacion ul{
    list-style: none;
}
#presentacion li{
    margin-bottom: 10px;
}
.tabla{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 10px; /* espacio entre "celdas" */
    max-width: 600px;
}
.tabla li {
    flex: 0 0 calc(33.333% - 10px); /* 3 columnas ajustando por el gap */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #a489d5;
    border-radius: 5px; /* opcional: para redondear */
}
.presentacion_inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
}
.presentacion_relleno{
    margin: 100px;
}

#foto_presentacion{
    width: 500px;
    height: 450x;
    border-radius: 10%;
    margin: 0 auto 10;

}
.btn{
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  color: white;
  background: #667eea;
  border: none;
  border-radius: 50px;
  transition: 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
}

.btn:hover {
  background: #7a44f8;
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
/*--------------------- proyectos -----------------*/


/*     ------------ CONTACTO -------------------------     */
#contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}
#contacto a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#contacto a:hover{
    color: #1100ff;
    transition: 0.5s;
}
#contacto img{
    width: 32px;
    height: 32px;
    border-radius: 10%;
    margin: 0 auto;
}
#contacto div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}
/*--------------------- footer -----------------*/
footer{
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-left: 150px;
    width: 100%;
}