body{
    background-color: #9440cc;
    font-family: Arial, sans-serif;
    /* margin: 0px; */
    color: #e8e2e2;
    text-align: left;
    overflow-x: hidden;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
th {
    background-color: #f0f0f0;
    color: black;
}
section{
    margin-left: 350px;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #9440cc;
}

/*--------------------- lateral -----------------*/
#foto_personal{
    width: 200px;
    height: 200px;
    border-radius: 5%;
    margin: 0 auto; 
}

.letra_titulo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 0px;
}
.letra_cuerpo{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0px;
}
.titulo_extra{
    text-align: center;
    margin: 0px;
}

#menu{
    background-color: #a489d5;
    width: 350px;
    height: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    flex-direction: column;
    border-radius: 25px;
}
#menu img{
    width: 200px;
    height: 200px;
    border-radius: 25px;
    margin: 20px auto;
}
#menu h2{
    
    font-size: 30px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
}
#menu h2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
#menu h2:active{
    transform: scale(0.9);
    transition: 0.5s;
}
#menu h3{
    font-size: 20px;
    margin: 0px;
    font-family: 'Courier New', Courier, monospace;
    border-width: 0px 0px 2px 0px;
    border-radius: 25px;
    background-color: rgb(66, 94, 234);
    padding: 10px;
}
#menu ul{
    list-style: none;
    padding: 0;
}
#menu ul li{
    margin: 10px 0;
    width: 100%;
    text-align: center;
}
#menu ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    display: block;
    transition: background-color 0.3s ease;
}
#menu ul li a:hover{
    background-color: #8a6bbd;
    border-radius: 5px;
}
#menu ul li a:active{
    background-color: #8a6bbd;
    border-radius: 5px;
}

/*--------------------- presentacion -----------------*/

#presentacion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
#presentacion ul{
    list-style: none;
    padding: auto;
}
#presentacion li{
    margin-bottom: 10px;
}
.tabla{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    gap: 10px; /* espacio entre "celdas" */
    max-width: 600px;
}
.tabla li {
    flex: 0 0 calc(33.333% - 10px); /* 3 columnas ajustando por el gap */
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    background-color: #a489d5;
    border-radius: 5px; /* opcional: para redondear */
}
.presentacion_inicial{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin-bottom: 50px;
}
.presentacion_relleno{
    margin: 100px;
}

#foto_presentacion{
    width: 500px;
    height: 450x;
    border-radius: 10%;
    margin: 0 auto 10;

}

/*--------------------- proyectos -----------------*/


/*     ------------ CONTACTO -------------------------     */
#contacto{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}
#contacto a{
    text-decoration: none;
    color: black;
}
#contacto a:hover{
    color: #FF0000;
    transition: 0.5s;
}
#contacto a:active{
    color: #FF0000;
    transition: 0.5s;
}
#contacto img{
    width: 32px;
    height: 32px;
    border-radius: 10%;
    margin: 0 auto;
}
#contacto div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

footer{
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-left: 150px;
    width: 100%;
}